html {
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Sunflower', sans-serif;
}


/*
 * Two cards to choose from: check, cross
 */
.choice {
    height: 37%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
}


.choice-correct {
    font-size: 20px;
    background: #3498DB;
}

.choice-wrong {
    font-size: 20px;
    background: #E74C3C;
}

/*
 * Game start modal
 */
 .center_container{
    height: 100%;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    background-color: #E74C3C
}

#btn_play{
    float: right;
    margin-right: 12px;
    background-color: rgb(255, 0, 0);
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
}
#btn_play{
    float: right;
    margin-right: 12px;
    background-color: rgb(255, 0, 0);
    padding: 4px 8px 4px 8px;
    border-radius: 6px;
}

.playground {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 0);
}
.equation {
    font-size: 80px;
}
.time {
    font-size: 40px;
}
.point {
    font-size: 40px;
}
.endgame {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 0);
}
.highscore {
    height: 100%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 255, 0);
}