<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Freaking Math</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div class="center_container">
        <form method="POST">
            <div class="form_group">
                <h1>Freaking Math</h1>
                <div class="input_group">
                    <label for="name">Your Name</label>
                    <input type="text" id="name" name="name" required>
                </div>
                <div class="level_group">
                    <label>Choose Level</label>
                    <button class="btn_level" name="easy">Easy</button>
                    <button class="btn_level" name="normal">Normal</button>
                    <button class="btn_level" name="hard">Hard</button>
                </div>
            </div>
        </form>
    </div>
</body>
</html>
